<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limia Urbanus @(string.IsNullOrWhiteSpace(ViewBag.Title) ? string.Empty : $"- {ViewBag.Title}")</title>

    <link rel="stylesheet" href="~/Content/kendo/2015.3.1111/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2015.3.1111/kendo.metro.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2015.3.1111/kendo.mobile.all.min.css" />
    <link rel="stylesheet" href="~/Content/trix.css" />
    <link rel="stylesheet" href="~/Content/swiper.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/kendo/2015.3.1111/angular.min.js"></script>
    <script src="~/Scripts/kendo/2015.3.1111/kendo.ui.core.min.js"></script>
    <script src="~/Scripts/kendo/2015.3.1111/cultures/kendo.culture.pt-PT.min.js"></script>
    <script src="~/Scripts/kendo/2015.3.1111/messages/kendo.messages.pt-PT.min.js"></script>

    <script type="text/javascript">
        kendo.culture("pt-PT");
    </script>

    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/trix.js"></script>*@

    @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>
                &copy; @DateTime.Now.Year LIMIA URBANUS - Mediação Imobiliária, Unipessoal, Lda. Todos os Direitos Reservados.
            </p>
            <p>Desenvolvido por <a href="mailto:miguelpintodacosta@gmail.com">Miguel Costa</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/trix.js"></script>
</body>
</html>
