@model LimiaUrbanus.WebSite.Models.Imovel

@{
    ViewBag.Title = $"{Model.Objetivo.Nome} {Model.Nome}";
}

<h2>@Model.Objetivo.Nome @Model.Nome</h2>
<h6>@Model.Referencia</h6>

<hr />

<div class="row">
    <div class="col-md-6">
        @{
            var imgs = Model.FilePaths.OrderByDescending(f => f.IsCapa).ThenByDescending(f => f.IsPrincipal);
            var imgCover = imgs.FirstOrDefault();
        }
        @if(imgCover != null)
        {
            <img src="/UploadFiles/@imgCover.FileName" class="imovelCover" />
        }
        else
        {
            <img src="~/Files/photo-does-not-exist.jpg" alt="image not found" />
        }
    </div>
    <div class="col-md-6">
        <p class="imovelDescricao">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Descricao))
        </p>
        <hr />
        <dl class="dl-horizontal">
            @if(Model.Preco > 0)
            {
                <dt>Preço</dt>
                <dd>@Model.Preco.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("pt-PT"))</dd>
            }

            <dt>Tipo</dt>
            <dd>@Model.Tipo.Nome</dd>

            <dt>Estado</dt>
            <dd>@Model.Estado.Nome</dd>

            <dt>Local</dt>
            <dd>
                @Model.Freguesia.Concelho.Distrito.Nome / @Model.Freguesia.Concelho.Nome / @Model.Freguesia.Nome
                @if(string.IsNullOrWhiteSpace(Model.Morada) == false)
                {
                    <br />
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Morada))
                }
            </dd>

            <dt>Área</dt>
            <dd>@Model.Area m&#178;</dd>

            @if(string.IsNullOrWhiteSpace(Model.Tipologia.Nome) == false)
            {
                <dt>Tipologia</dt>
                <dd>@Model.Tipologia.Nome</dd>
            }

            @if(Model.Wc.HasValue)
            {
                <dt>WC</dt>
                <dd>@Model.Wc</dd>
            }

            @if(string.IsNullOrWhiteSpace(Model.ClasseEnergetica.Nome) == false)
            {
                <dt>Classe energética</dt>
                <dd>@Model.ClasseEnergetica.Nome</dd>
            }

            @if(Request.IsAuthenticated)
            {
                <dt>Contacto responsável</dt>
                <dd>@Model.ContactoResponsavel</dd>

                <dt>Coordenadas</dt>
                <dd>@Model.CoordenadasGps</dd>

                <dt>Destaque</dt>
                <dd>@Html.DisplayFor(model => model.IsDestaque)</dd>

                <dt>Oportunidade</dt>
                <dd>@Html.DisplayFor(model => model.IsOportunidade)</dd>
            }
        </dl>
        @if(Request.IsAuthenticated)
        {
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ImovelId }) |
                @Html.ActionLink("Lista de imóveis", "Index")
            </p>
        }
    </div>
</div>

<hr />

@Html.Partial("_GallerySwiper", Model)

<hr />

@Html.Partial("_GoogleMaps", Model)
